$primary: #F2E8C6;
$secondary: #952323;
$primary-emphasis: #DAD4B5;
$secondary-emphasis: #A73121;

.go-button {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 25%;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.go-button_container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 10px solid;
    border-radius: 25%;
    border-color: $primary;
    background-color: $secondary;
}

.go-button_label {
    font-size: 250%;
    color: $primary;
    white-space: nowrap;
    padding: 0.5em;
}

.go-button_icon {
    color: $primary;
}

.go-button:hover {
    width: 101%;
    height: 101%;

    .go-button_container {
        border-color: $primary-emphasis;
        background-color: $secondary-emphasis;
    }

    .go-button_label{
        color: $primary-emphasis;
    }
}