$font-family-sans-serif: 'Roboto', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import 'node_modules/bootstrap/scss/bootstrap';

.t-red {
    color: #871217 !important;
}

.b-red {
    background-color: #871217 !important;
}

.bo-red {
    border-color: #871217 !important;
}

.o-red {
    text-shadow: -2px -2px 0 #871217, 2px -2px 0 #871217, -2px 2px 0 #871217, 2px 2px 0 #871217;
}

.t-white {
    color: #fafafa !important;
}

.b-white {
    background-color: #fafafa !important;
}

.bo-white {
    border-color: #fafafa !important;
}

.o-white {
    text-shadow: -2px -2px 0 #fafafa, 2px -2px 0 #fafafa, -2px 2px 0 #fafafa, 2px 2px 0 #fafafa;
}

.t-black {
    color: #0d0d0d !important;
}

.b-black {
    background-color: #0d0d0d !important;
}

.bo-black {
    border-color: #0d0d0d !important;
}

.o-black {
    text-shadow: -2px -2px 0 #0d0d0d, 2px -2px 0 #0d0d0d, -2px 2px 0 #0d0d0d, 2px 2px 0 #0d0d0d;
}

.width-all-screen {
    width: 100vw;
}

.height-all-screen {
    height: 100vh;
}

body {
    color: #871217;
    background-color: #0d0d0d;
    background-image: url('./img/topography.svg');
}